<!doctype html>
   <html>
    <head>
    <meta charset="utf-8">
    <title>About "A Lawyer's Devotional"</title>
    <meta name="About page for A Lawyer's Devotional" content="Daily scriptures and other content created with the lawyer in mind.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../index.css">    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    
 <!-- endbuild -->
  </head>
  <body>
  <div class="main">
  <div class="img">  
  <img class="headerImg" src="../../images/SplashScreen620x300p-crop.png" 	alt="A Lawyer's Devotional" title="A daily devotional for the legal professional">
	  </div>

  <div id="menu">

	<table class="menu"><tr class="td2">
		<td class="td2"><a href="app/index.html"><img class="navImg" src="../images/LDlogoBW.png" alt="Home page"/><br />Home</a>&nbsp;</td>
			<td class="td2"><a href="views/calendar.html"><img class="navImg" src="../images/collection.png"  width="50px" height="10px" alt="Scripture Collection"/><br /> Calendar</a>&nbsp;</td>
			<td class="td2"><a href="views/resources.html"><img class="navImg" src="../images/wmrResources4_32x32.png"  width="50px" height="10px" alt="Miscellaneous Resources"/><br /> Extras</a>&nbsp;</td>
			<td class="td2"><a href="views/about.html"><img class="navImg" src="../images/wmrAbout3.png" alt="About page"/><br />About</a>&nbsp;</td>
			</tr>
		</table>
	  </div>
	  </div>
	  </body>
</html>