<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
	id="com.lawyersdevotional.iphoneapp" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" 
	versionCode = "1 alpha"   version = "1.1.7">
<name short="LD: Alpha">Lawyers Devotional: July Builds</name>
<description>Daily Scripture for the Legal Professional 
</description>
	<author href="http://www.lawyersdevotional.com/"	email="feedback.LawyersDevotional@outlook.com" >
   		Kimberly Hanley and Chris Phyffer on behalf of TimberLawyer.com
   	</author>
<!--  Much thanks and support to Chris for invaluable help and support. An awesome developer!
       <author email="cphyffer.123@gmail.com" href="http://pixoul.io">
        Chris Phyffer </author>-->
<!--  also thanks to YEOMAN ///   -->
 
<language>en</language>
     
<content src="index.html" />        
          
<!-- PREFERENCES -->    
<!--<preference name="phonegap-version" value="cli-6.5.0"  />-->
<preference name="orientation" value="portrait"  />
<preference name="target-device" value="universal" />         <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen" value="true" />         <!-- all: hides the status bar at the top of the screen -->
<preference name="webviewbounce" value="false"  />		<!--set to false to disable app bounce when beginning or end reached-->
<preference name="UIWebViewBounce" value="false" />

<preference name="stay-in-webview" value="false" /> 
<preference name="DisallowOverscroll" value="false" /> 
<preference name="StatusBarOverlaysWebView" value="false" /> 
<preference name="StatusBarStyle" value="blackopaque" />  
<preference name="StatusBarBackgroundColor" value="#45617d"/>
<preference name="SplashScreen" value="screen" />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />
<preference name="show-splash-screen-spinner" value="true"  />
<preference name="deployment-target" value="6.1.6"/>
<!--from Telerik build config-->


<!--  PLUGINS 	-->
<gap:plugin name="org.apache.cordova.splashscreen" spec="~3" />  <!--<<<<<Phonegap said not supported!-->
<!--<plugin name="com.kumbe.phonegap.zoom.zoomcontrol" source="pgb" />    this doesn't build in PGB -- " plugin unsupported "  
						plugin source: https://build.phonegap.com/plugins/710-->
<plugin name="cordova-plugin-splashscreen" spec="~4" />           <!--https://build.phonegap.com/plugins
																	https://www.npmjs.com/package/cordova-plugin-splashscreen -->
<!--<plugin name="cordova-plugin-orientation" />-->																	

	<!--  // from CP files ///   -->
 <plugin name="cordova-plugin-whitelist" spec="~1" source="npm"/>
 <!--<gap:plugin name="cordova-plugin-statusbar" source="npm"/>-->   
    
<!--  Whitelists  -->
    <allow-intent href="http://www.lawyersdevotional.com/" />
    <allow-intent href="http://www.timberlawyer.com/" />
    <allow-intent href="https://www.archives.gov/founding-docs/*" />
    <allow-intent href="http://www.loc.gov/rss/pao/news.xml" />
    <allow-intent href="http://feed.surfing-waves.com/js/rss-feed.js" />    
    <allow-intent href="https://squareup.com/market/reese-law-firm/a-lawyer-s-devotional-cloth-bound" />
    <allow-intent href="https://squareup.com/market/reese-law-firm/a-lawyer-s-devotional-leather-bound" />
    <allow-intent href="https://squareup.com/store/reese-law-firm/" /> 

    <allow-intent href="mailto:*" />
     
    <access origin='s3.amazonaws.com'/>
    <access origin='build.phonegap.com'/>          

     
<!-- ICONS & SPLASH SCREENS -->      
  	
  	<icon src="images/icons/Icon-small@2x.png" />
 	<icon src="icon.png" />														
 														<!-- default icon for when don't know what icon to use
  															must reside in the root of your application folder.
  	 													 		http://docs.phonegap.com/phonegap-build/configuring/icons-and-splash/
  	 													 -->
  	<gap:splash src="images/splashScrns/SplashScreen320x480px.png" />	
  	
  	<splash src="splash.png" />			<!-- default splash screen mdpi.png -->

   <!-- ANDROID -->
    <platform name="android">
        <allow-intent href="market:*" />
   
      	<icon src="images/icons/icon-36x36-ldpi.png"  gap:qualifier="ldpi" />
      	<icon src="images/icons/icon-48x48-mdpi.png"  gap:qualifier="mdpi" />
      	<icon src="images/icons/icon-72.png"  gap:qualifier="hdpi" />
      	<icon src="images/icons/icon-96x96-xhdpi.png"  gap:qualifier="xhdpi" />
      	<icon src="images/icons/Icon-144x144.png"  gap:qualifier="xxhdpi" />
      	<icon src="images/icons/icon-192x192.png"  gap:qualifier="xxxhdpi" />
 
<!--      	<icon src="images/icons/icon-36x36-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
      	<icon src="images/icons/icon-48x48-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
      	<icon src="images/icons/icon-72.png" gap:platform="android" gap:qualifier="hdpi" />
      	<icon src="images/icons/icon-96x96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
      	<icon src="images/icons/Icon-144x144.png" gap:platform="android" gap:qualifier="xxhdpi" />
      	<icon src="images/icons/icon-192x192.png" gap:platform="android" gap:qualifier="xxxhdpi" />     --> 	
      	     	     	
		<gap:splash src="images/splashScrns/splashScreen200x320px.png" gap:qualifier="ldpi" />
     	<gap:splash src="images/splashScrns/SplashScreen320x480px.png" gap:qualifier="mdpi" />
     	<gap:splash src="images/splashScrns/SplashScreen480x800px_phone300.png" gap:qualifier="hdpi" />
     	<gap:splash src="images/splashScrns/splashScreen720x1280px.png" gap:qualifier="xhdpi" />
     	<gap:splash src="images/splashScrns/splashScreen960x1600px.png" gap:qualifier="xxhdpi" />
		<gap:splash src="images/splashScrns/splashScreen1280x1920px.png" gap:qualifier="xxxhdpi" />      	
    </platform>  
 
	<!-- iOS -->
    <platform name="ios">

        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        
        
    	<!-- iPhone iPhone / iPod Touch || All non-retina iPhones & iPods -->  
    	<icon src="images/icons/Icon-60.png"  width="60" height="60" />
   		<icon src="images/icons/Icon-120x120.png"  width="120" height="120" />
   		
   		<gap:splash src="images/splashScrns/SplashScreen320x480px.png"  width="320" height="480" />  
   														 <!-- SplashScreen320x480px.png riginally named Default.png -->
   		
   		<!-- iPhone 4, 4s, 5 & 5s -->
   		<gap:splash src="images/splashScrns/Default@2x.png"  width="640" height="960" />
   		
   		<!-- iPhone 5 / iPod Touch (5th Generation) -->   		
   		<gap:splash src="images/splashScrns/Default-568h@2x.png"  width="640" height="1136" /> <!--iPhone SE-->
   		
   		<!-- iPhone 6 / 6+ -->
   		<icon src="images/icons/Icon-60@3x.png"  width="180" height="180" />
   		 
   		<!-- iPhone 6, 6s & 7 (portrait) -->
   		<gap:splash src="images/splashScrns/Default-667h@2x.png"  width="750" height="1334" />  

   		<!--iPhone 6+, 6s+ & 7+ (portrait)-->
   		<gap:splash src="images/splashScrns/Default-Portrait-736@2x.png"  width="1242" height="2208" />
       
   		
    	<!-- /////////iPads ///////////-->
   		<icon src="images/icons/Icon-76.png"  width="76" height="76" />    	
   		<icon src="images/icons/Icon-76@2x.png"  width="152" height="152" />
   	    
   	    <!--All non-retina iPads (portrait)-->
   	    <gap:splash src="images/splashScrns/Default-Portrait.png"  width="768" height="1024" />
   	    
   	    <!--All retina iPads (portrait & landscape)-->
   	    <gap:splash src="images/splashScrns/Default-Portrait@2x.png"  width="1536" height="2048" />    
   	    
   	    
   	    <!-- additional splash -->   	
 	   	  <gap:splash src="images/splashScrns/Splash12.9iPadPro-2048x2732_portrait.png"  width="2048" height="2732" />  
   	   	  <gap:splash src="images/splashScrns/Splash7Plus6sPlus-1080x1920_portrait.png"  width="1080" height="1920" />   	
    	   	       	   	
		<!-- Settings Icon -->    	    	
   		<icon src="images/icons/Icon-small.png"  width="29" height="29" /> 
   		<icon src="images/icons/Icon-small@2x.png"  width="58" height="58" />    				
		

        <!-- Spotlight Icon -->
   		<icon src="images/icons/Icon-Small-40.png"  width="40" height="40" />
   		<icon src="images/icons/Icon-Small-40@2x.png"  width="80" height="80" />  
   
		<!-- additional recommended iPhone only application icons per Apple Tables 1 & 2-->
		 <icon src="images/icons/Icon-Small@3x.png"  width="87" height="87" />    
 
  		 <icon src="images/icons/Icon-83.5@2x.png"  width="167" height="167" />    
  		 <icon src="images/icons/Icon-120x120.png"  width="120" height="120" />  
  		 <icon src="images/icons/Icon.png"  width="57" height="57" />  
  		 <icon src="images/icons/Icon@2x.png"  width="114" height="114" />  
  		 <icon src="images/icons/Icon-72.png"  width="72" height="72" />  
  		 <icon src="images/icons/Icon-144x144.png"  width="144" height="144" />  
  		 <icon src="images/icons/Icon-Small-50.png"  width="50" height="50" />  
  		 <icon src="images/icons/Icon-Small-50@2x.png"  width="100" height="100" />          
    </platform>
 	    
    	<!-- iPhone iPhone / iPod Touch || All non-retina iPhones & iPods -->  
<!--    	<icon src="images/icons/Icon-60.png" gap:platform="ios" width="60" height="60" />
   		<icon src="images/icons/Icon-120x120.png" gap:platform="ios" width="120" height="120" />
   		
   		<gap:splash src="images/splashScrns/SplashScreen320x480px.png" gap:platform="ios" width="320" height="480" />  -->
   														 <!-- SplashScreen320x480px.png riginally named Default.png -->
   		
   		<!-- iPhone 4, 4s, 5 & 5s -->
<!--   		<gap:splash src="images/splashScrns/Default@2x.png" gap:platform="ios" width="640" height="960" />-->
   		
   		<!-- iPhone 5 / iPod Touch (5th Generation) -->   		
 <!--  		<gap:splash src="images/splashScrns/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />--> <!--iPhone SE-->
   		
   		<!-- iPhone 6 / 6+ -->
 <!--  		<icon src="images/icons/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />-->
   		 
   		<!-- iPhone 6, 6s & 7 (portrait) -->
 <!--  		<gap:splash src="images/splashScrns/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />-->  

   		<!--iPhone 6+, 6s+ & 7+ (portrait)-->
  <!-- 		<gap:splash src="images/splashScrns/Default-Portrait-736@2x.png" gap:platform="ios" width="1242" height="2208" />-->
       
   		
    	<!-- /////////iPads ///////////-->
<!--   		<icon src="images/icons/Icon-76.png" gap:platform="ios" width="76" height="76" />    	
   		<icon src="images/icons/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />-->
   	    
   	    <!--All non-retina iPads (portrait)-->
  <!-- 	    <gap:splash src="images/splashScrns/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />-->
   	    
   	    <!--All retina iPads (portrait & landscape)-->
 <!--  	    <gap:splash src="images/splashScrns/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />-->    
   	    
   	    
   	    <!-- additional splash -->   	
<!-- 	   	  <gap:splash src="images/splashScrns/Splash12.9iPadPro-2048x2732_portrait.png" gap:platform="ios" width="2048" height="2732" />  
   	   	  <gap:splash src="images/splashScrns/Splash7Plus6sPlus-1080x1920_portrait.png" gap:platform="ios" width="1080" height="1920" />  --> 	
    	   	       	   	
		<!-- Settings Icon -->    	    	
  <!-- 		<icon src="images/icons/Icon-small.png" gap:platform="ios" width="29" height="29" /> 
   		<icon src="images/icons/Icon-small@2x.png" gap:platform="ios" width="58" height="58" /> -->   				
		

        <!-- Spotlight Icon -->
 <!--  		<icon src="images/icons/Icon-Small-40.png" gap:platform="ios" width="40" height="40" />
   		<icon src="images/icons/Icon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />-->  
   
		<!-- additional recommended iPhone only application icons per Apple Tables 1 & 2-->
<!--		 <icon src="images/icons/Icon-Small@3x.png" gap:platform="ios" width="87" height="87" />    
 
  		 <icon src="images/icons/Icon-83.5@2x.png" gap:platform="ios" width="167" height="167" />    
  		 <icon src="images/icons/Icon-120x120.png" gap:platform="ios" width="120" height="120" />  
  		 <icon src="images/icons/Icon.png" gap:platform="ios" width="57" height="57" />  
  		 <icon src="images/icons/Icon@2x.png" gap:platform="ios" width="114" height="114" />  
  		 <icon src="images/icons/Icon-72.png" gap:platform="ios" width="72" height="72" />  
  		 <icon src="images/icons/Icon-144x144.png" gap:platform="ios" width="144" height="144" />  
  		 <icon src="images/icons/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />  
  		 <icon src="images/icons/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />  -->
   
	<icon src="images/icons/icon-64-webos.png"  gap:platform="webos" />  
	
    <platform name="winphone" >
    
    	<icon src="images/icons/icon-48x48-mdpi.png"   width="48"  height="48"/>
	 	<icon src="images/icons/ms-icon-70x70.png"   width="70"  height="70" />
		<icon src="images/icons/Icon-144x144.png"   />
		<icon src="images/icons/ms-icon-150x150.png"   width="150" height="150"  />
 		<icon src="images/icons/ms-icon-310x310.png"   width="310" height="310"  />
     	<icon src="images/icons/icon.png"  />	
		<icon  width="120" height="120" src="images/icons/Icon-120x120.png" />		      	
 		      
	</platform> 
 	
<!--	 	<icon src="images/icons/icon-48x48-mdpi.png"  gap:platform="winphone" width="48"  height="48"/>
	 	<icon src="images/icons/ms-icon-70x70.png"  gap:platform="winphone" width="70"  height="70" />
		<icon src="images/icons/Icon-144x144.png"  gap:platform="winphone" />
		<icon src="images/icons/ms-icon-150x150.png"  gap:platform="winphone" width="150" height="150"  />-->
		
<!--		<icon src="images/icons/icon-173.png" gap:platform="winphone" gap:role="background" />	-->	
	
<!--		<icon src="images/icons/ms-icon-310x310.png"  gap:platform="winphone" width="310" height="310"  />-->

 <!-- Windows Phone 8 (cordova-wp8) http://docs.phonegap.com/phonegap-build/configuring/icons-and-splash/-->   
   
   
<!--    <icon src="images/icons/icon.png" platform="winphone" />-->
    
    
<!-- have to make these
	<icon src="images/icons/tileicon.png" platform="winphone" role="background" />

<icon platform="winphone" width="44"  height="44"  src="images/icons/Square44x44Logo.scale-100.png" />
<icon platform="winphone" width="106" height="106" src="images/icons/Square44x44Logo.scale-240.png" />

<icon platform="winphone" width="360" height="360" src="images/icons/Square150x150Logo.scale-240.png" />
<icon platform="winphone" width="71"  height="71"  src="images/icons/Square71x71Logo.scale-100.png" />
<icon platform="winphone" width="170" height="170" src="images/icons/Square71x71Logo.scale-240.png" />
<icon platform="winphone" width="310" height="150" src="images/icons/Wide310x150Logo.scale-100.png" />
<icon platform="winphone" width="744" height="360" src="images/icons/Wide310x150Logo.scale-240.png" />

<icon platform="winphone" width="30"  height="30"  src="images/icons/Square30x30Logo.scale-100.png" />

<icon platform="winphone" width="50"  height="50"  src="images/icons/StoreLogo.scale-100.png" />-->


<!--<icon platform="winphone" width="120" height="120" src="images/icons/Icon-120x120.png" />-->
     
<!--<license>
	
	
</license>     -->


<!-- rest of config here 
    https://gist.github.com/dhrrgn/2bea8fa0ccdb1d35182e
-->

    <!-- iOS 8 Override Config to support iPhone 6/6+ screen size -->
    <gap:config-file platform="ios" parent="UILaunchImages" overwrite="true">
        <array>
            <!-- iPhone 4s -->
            <dict>
                <key>UILaunchImageMinimumOSVersion</key>
                <string>8.0</string>
                <key>UILaunchImageName</key>
                <string>Default-480h</string>
                <key>UILaunchImageOrientation</key>
                <string>Portrait</string>
                <key>UILaunchImageSize</key>
                <string>{320, 480}</string>
            </dict>

            <!-- iPhone 5/s/c -->
            <dict>
                <key>UILaunchImageMinimumOSVersion</key>
                <string>8.0</string>
                <key>UILaunchImageName</key>
                <string>Default-568h</string>
                <key>UILaunchImageOrientation</key>
                <string>Portrait</string>
                <key>UILaunchImageSize</key>
                <string>{320, 568}</string>
            </dict>

            <!-- iPhone 6 -->
            <dict>
                <key>UILaunchImageMinimumOSVersion</key>
                <string>8.0</string>
                <key>UILaunchImageName</key>
                <string>Default-667h</string>
                <key>UILaunchImageOrientation</key>
                <string>Portrait</string>
                <key>UILaunchImageSize</key>
                <string>{375, 667}</string>
            </dict>

            <!-- iPhone 6+ -->
            <dict>
                <key>UILaunchImageMinimumOSVersion</key>
                <string>8.0</string>
                <key>UILaunchImageName</key>
                <string>Default-736h</string>
                <key>UILaunchImageOrientation</key>
                <string>Portrait</string>
                <key>UILaunchImageSize</key>
                <string>{414, 736}</string>
            </dict>

            <!-- iPad / Mini -->
            <dict>
                <key>UILaunchImageMinimumOSVersion</key>
                <string>8.0</string>
                <key>UILaunchImageName</key>
                <string>Default-1024h</string>
                <key>UILaunchImageOrientation</key>
                <string>Portrait</string>
                <key>UILaunchImageSize</key>
                <string>{768, 1024}</string>
            </dict>

            <!-- iPad Retina -->
            <dict>
                <key>UILaunchImageMinimumOSVersion</key>
                <string>8.0</string>
                <key>UILaunchImageName</key>
                <string>Default-2048h</string>
                <key>UILaunchImageOrientation</key>
                <string>Portrait</string>
                <key>UILaunchImageSize</key>
                <string>{1536, 2048}</string>
            </dict>
        </array>
    </gap:config-file>
    
<!-- 
    <gap:splash src="res/screen/ios/screen-iphone-portrait-667h@2x.png" gap:platform="ios" width="750"  height="1334" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
 -->

<!-- end rest of config here -->
</widget>
