<?xml version="1.0" encoding="utf-8"?>
<widget
	xmlns="http://www.w3.org/ns/widgets"
	id="com.lawyersdevotional.iphoneapp2"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	versionCode = "1"
	version = "1.0.0">
	<name short="LD: Beta">Lawyers Devotional</name>
	<description>
		Oct 6 2017 2ndFINAL - pushNotif plugin - versionCode 1 version 1.0.0 - com.lawyersdevotional.iphoneapp2
	</description>  <!--description only for pg build service, won't carry over to store-->
	<author href="http://www.lawyersdevotional.com/" email="feedback.LawyersDevotional@outlook.com" >
		Kimberly Hanley and Chris Phyffer on behalf of TimberLawyer.com
	</author>
	<!--  Much thanks and support to Chris for invaluable help and support. An awesome developer!
		   <author email="cphyffer.123@gmail.com" href="http://pixoul.io">
			Chris Phyffer </author>  -->
	<!--  also thanks to YEOMAN, and special thanks to stakeoverflow members Teocci & Tibrogargan -  
		Licenses for Apache content - - https://www.apache.org/licenses/LICENSE-2.0
	  -->

<language>en</language>
<content src="index.html" />
          
<!-- PREFERENCES -->    
<preference name="phonegap-version" value="cli-6.5.0"  />


<preference name="orientation" value="portrait"  />
<preference name="target-device" value="universal" />
<preference name="deployment-target" value="6.1.6"/>
<preference name="fullscreen" value="true" />

<preference name="webviewbounce" value="false"  />
<preference name="UIWebViewBounce" value="false" />
<preference name="stay-in-webview" value="false" />
<preference name="DisallowOverscroll" value="true" />
<preference name="StatusBarOverlaysWebView" value="true" />		<!--old build false-->
<preference name="StatusBarBackgroundColor" value="#000000"/>	<!--optional-->
<preference name="StatusBarStyle" value="lightcontent" />		<!--optional
<preference name="StatusBarStyle" value="default" />		-->

<preference name="SplashScreen" value="screen" />
<preference name="SplashScreenDelay" value="2000" />  		<!--splashscreen show time-->
<preference name="show-splash-screen-spinner" value="true"  />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />
<preference name="prerendered-icon" value="true"/>		<!--meant for Android to show app icon and not generic-->


<!--  PLUGINS 	-->
	<plugin name="cordova-plugin-globalization" spec="1.0.7" source="npm" />
	<plugin name="cordova-plugin-splashscreen" spec="4.0.3" source="npm"/>
	<plugin name="cordova-plugin-whitelist" spec="1.3.2" source="npm"/>
	<plugin name="cordova-plugin-x-socialsharing"  spec="5.1.8"  source="npm" />
	<gap:plugin name="cordova-plugin-x-toast"  spec="2.6.0" source="npm" />
	<plugin name="de.appplant.cordova.plugin.local-notification" spec="0.8.5" source="npm" />
	<plugin name="cordova-universal-clipboard" spec="0.1.0"  source="npm" />
	<plugin name="cordova-plugin-statusbar" spec="2.2.3" source="npm"/>
	<plugin name="pushbots-cordova-plugin" source="npm" />

<!-- FEATURES -->
        <feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="false" />
            		
        </feature>	

 
 <!--  Whitelists  -->
    <allow-intent href="http://www.lawyersdevotional.com/*" />
    <access origin="http://www.lawyersdevotional.com/*" /> 
    <allow-intent href="http://www.timberlawyer.com/*" />
    <access origin="http://www.timberlawyer.com/*" /> 
    <allow-intent href="https://www.archives.gov/founding-docs/*" />
    <access origin="https://www.archives.gov/founding-docs/*" /> 
   
    <allow-intent href="https://squareup.com/market/reese-law-firm/a-lawyer-s-devotional-cloth-bound" />
    <access origin="https://squareup.com/market/reese-law-firm/a-lawyer-s-devotional-cloth-bound" /> 
    <allow-intent href="https://squareup.com/market/reese-law-firm/a-lawyer-s-devotional-leather-bound" />
    <access origin="https://squareup.com/market/reese-law-firm/a-lawyer-s-devotional-leather-bound" /> 
    <allow-intent href="https://squareup.com/store/reese-law-firm/*" /> 
    <access origin="https://squareup.com/store/reese-law-firm/*" /> 
    
    <allow-intent href="http://hosted.verticalresponse.com/*" /> 
    <access origin="http://hosted.verticalresponse.com/*" /> 
    <allow-intent href="http://www.ushistory.org/*" />
    <access origin="http://www.ushistory.org/*" />
    <allow-intent href="https://www.ourdocuments.gov/*" />
    <access origin="https://www.ourdocuments.gov/*" />
    <allow-intent href="https://www.loc.gov/*" />
    <access origin="https://www.loc.gov/*" />
    <allow-intent href="http://www.abrahamlincolnonline.org/*" />
    <access origin="http://www.abrahamlincolnonline.org/*" />
    <allow-intent href="https://www.africa.upenn.edu/*" />
    <access origin="https://www.africa.upenn.edu/*" />
    <allow-intent href="http://scholarship.law.nd.edu/*" />
    <access origin="http://scholarship.law.nd.edu/*" />
    <allow-intent href="http://www.christianitytoday.com/*" />
    <access origin="http://www.christianitytoday.com/*" />
    
    <allow-intent href="http://www.kimberlytopia.com/*" /> <access origin="http://www.kimberlytopia.com/*" />
    <allow-intent href="https://pixoul.io/*" /> <access origin="https://pixoul.io/*" />
    <allow-intent href="https://stackoverflow.com/*" /> <access origin="https://stackoverflow.com/*" />
    <allow-intent href="https://www.devu.com/*" /> <access origin="https://www.devu.com/*" />
    <allow-intent href="http://orpheussoundstation.com/*" /> <access origin="http://orpheussoundstation.com/*" />
    <allow-intent href="http://www.apache.org/*" /> <access origin="http://www.apache.org/*" />
    <allow-intent href="https://opensource.org/licenses/MIT" /> <access origin="https://opensource.org/licenses/MIT" />
    <allow-intent href="https://creativecommons.org/licenses/by-sa/3.0/" /> <access origin="https://creativecommons.org/licenses/by-sa/3.0/" />
    <allow-intent href="http://goodinterfacebadinterface.tumblr.com/" /> <access origin="http://goodinterfacebadinterface.tumblr.com/" />
    
    <allow-intent href="https://phonegap.com/about/license/" /> <access origin="https://phonegap.com/about/license/" />
    <allow-intent href="https://docs.npmjs.com/policies/license" /> <access origin="https://docs.npmjs.com/policies/license" />
    <allow-intent href="https://spdx.org/licenses/Apache-2.0.html" /> <access origin="https://spdx.org/licenses/Apache-2.0.html" />
    <allow-intent href="https://github.com/*" /> <access origin="https://github.com/*" />
    
	<allow-intent href="https://www.w3.org/TR/widgets-access/" /> <access origin="https://www.w3.org/TR/widgets-access/" />   <allow-intent href="https://cordova.apache.org/docs/en/latest/guide/appdev/whitelist/" />
  		 <access origin="https://cordova.apache.org/docs/en/latest/guide/appdev/whitelist/" />    		 
   	<allow-intent href="https://github.com/jessemonroy650/top-phonegap-mistakes/blob/master/the-whitelist-system.md" />
  		 <access origin="https://github.com/jessemonroy650/top-phonegap-mistakes/blob/master/the-whitelist-system.md" />	 
   	<allow-intent href="http://docs.phonegap.com/phonegap-build/configuring/access-elements/" />	 
   		 <access origin="http://docs.phonegap.com/phonegap-build/configuring/access-elements/" />
   	<allow-intent href="https://www.w3.org/TR/CSP11/" /> <access origin="https://www.w3.org/TR/CSP11/" />	 


	<allow-intent href="mailto:*" />
     
    <access origin='s3.amazonaws.com'/>
    <access origin='build.phonegap.com/*'/>          

     
<!-- ICONS & SPLASH SCREENS -->      


   <!-- ANDROID -->
    <platform name="android">
        <allow-intent href="market:*" />
   
      	<icon src="www/images/icons/icon-36x36-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
      	<icon src="www/images/icons/icon-48x48-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
      	<icon src="www/images/icons/icon-72.png" gap:platform="android" gap:qualifier="hdpi" />
      	<icon src="www/images/icons/icon-96x96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
      	<icon src="www/images/icons/Icon-144x144.png" gap:platform="android" gap:qualifier="xxhdpi" />
      	<icon src="www/images/icons/icon-192x192.png" gap:platform="android" gap:qualifier="xxxhdpi" />
  	     	
		<splash src="www/images/splashScrns/splashScreen200x320px.png" qualifier="port-ldpi" />
     	<splash src="www/images/splashScrns/SplashScreen320x480px.png" qualifier="port-mdpi" />
     	<splash src="www/images/splashScrns/SplashScreen480x800px_phone300.png" qualifier="port-hdpi" />
     	<splash src="www/images/splashScrns/splashScreen720x1280px.png" qualifier="port-xhdpi" />
     	<splash src="www/images/splashScrns/splashScreen960x1600px.png" qualifier="port-xxhdpi" />
		<splash src="www/images/splashScrns/splashScreen1280x1920px.png" qualifier="port-xxxhdpi" />      	
    </platform>
     
	<!-- iOS -->
    <platform name="ios">

        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        
        
    	<!-- iPhone iPhone / iPod Touch || All non-retina iPhones & iPods -->  
    	<icon src="www/images/icons/Icon-60.png"  width="60" height="60" />
   		<icon src="www/images/icons/Icon-120x120.png"  width="120" height="120" />
   		
   		<gap:splash src="www/images/splashScrns/SplashScreen320x480px.png"  width="320" height="480" />  
   														 <!-- SplashScreen320x480px.png originally named Default.png -->
   		
   		<!-- iPhone 4, 4s, 5 & 5s -->
   		<gap:splash src="www/images/splashScrns/Default@2x.png"  width="640" height="960" />
   		
   		<!-- iPhone 5 / iPod Touch (5th Generation) -->   		
   		<gap:splash src="www/images/splashScrns/Default-568h@2x.png"  width="640" height="1136" /> <!--iPhone SE-->
   		
   		<!-- iPhone 6 / 6+ -->
   		<icon src="www/images/icons/Icon-60@3x.png"  width="180" height="180" />
   		 
   		<!-- iPhone 6, 6s & 7 (portrait) -->
   		<splash src="www/images/splashScrns/Default-667h@2x.png"  width="750" height="1334" />  

   		<!--iPhone 6+, 6s+ & 7+ (portrait)-->
   		<splash src="www/images/splashScrns/Default-Portrait-736@2x.png"  width="1242" height="2208" />
       
   		
    	<!-- /////////iPads ///////////-->
   		<icon src="www/images/icons/Icon-76.png"  width="76" height="76" />    	
   		<icon src="www/images/icons/Icon-76@2x.png"  width="152" height="152" />
   	    
   	    <!--All non-retina iPads (portrait)-->
   	    <gap:splash src="www/images/splashScrns/Default-Portrait.png"  width="768" height="1024" />
   	    
   	    <!--All retina iPads (portrait & landscape)-->
   	    <gap:splash src="www/images/splashScrns/Default-Portrait@2x.png"  width="1536" height="2048" />    
   	    
   	    
   	    <!-- additional splash -->   	
 	   	  <gap:splash src="www/images/splashScrns/Splash12.9iPadPro-2048x2732_portrait.png"  width="2048" height="2732" />  
   	   	  <gap:splash src="www/images/splashScrns/Splash7Plus6sPlus-1080x1920_portrait.png"  width="1080" height="1920" />   	
    	   	       	   	
		<!-- Settings Icon -->    	    	
   		<icon src="www/images/icons/Icon-small.png"  width="29" height="29" /> 
   		<icon src="www/images/icons/Icon-small@2x.png"  width="58" height="58" />    				
		

        <!-- Spotlight Icon -->
   		<icon src="www/images/icons/Icon-Small-40.png"  width="40" height="40" />
   		<icon src="www/images/icons/Icon-Small-40@2x.png"  width="80" height="80" />  
   
		<!-- additional recommended iPhone only application icons per Apple Tables 1 & 2-->
		 <icon src="www/images/icons/Icon-Small@3x.png"  width="87" height="87" />    
 
  		 <icon src="www/images/icons/Icon-83.5@2x.png"  width="167" height="167" />    
  		 <icon src="www/images/icons/Icon-120x120.png"  width="120" height="120" />  
  		 <icon src="www/images/icons/Icon.png"  width="57" height="57" />  
  		 <icon src="www/images/icons/Icon@2x.png"  width="114" height="114" />  
  		 <icon src="www/images/icons/Icon-72.png"  width="72" height="72" />  
  		 <icon src="www/images/icons/Icon-144x144.png"  width="144" height="144" />  
  		 <icon src="www/images/icons/Icon-Small-50.png"  width="50" height="50" />  
  		 <icon src="www/images/icons/Icon-Small-50@2x.png"  width="100" height="100" />          
    </platform>
 	      
	<icon src="www/images/icons/icon-64-webos.png"  gap:platform="webos" />  
	
    <platform name="winphone" >
    
    	<icon src="www/images/icons/icon-48x48-mdpi.png"   width="48"  height="48"/>
	 	<icon src="www/images/icons/ms-icon-70x70.png"   width="70"  height="70" />
		<icon src="www/images/icons/Icon-144x144.png"   />
		<icon src="www/images/icons/ms-icon-150x150.png"   width="150" height="150"  />
 		<icon src="www/images/icons/ms-icon-310x310.png"   width="310" height="310"  />
     	<icon src="www/images/icons/icon.png"  />	
		<icon  width="120" height="120" src="www/images/icons/Icon-120x120.png" />		      	
 		      
	</platform> 

 	     
 	<icon src="icon.png" gap:role="default" />	  	<!--meant for Android to show app icon and not generic-->
  	<splash src="splash.png" gap:role="default" />	 <!--meant for Android to show app icon and not generic-->
      	      	     

</widget>