<!doctype html>
   <html>
    <head>
    <meta charset="utf-8">
    <title>About "A Lawyer's Devotional"</title>
    <meta name="About page for A Lawyer's Devotional" content="Daily scriptures and other content created with the lawyer in mind.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../index.css">    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    
 <!-- endbuild -->
  </head>
  <body>
  <div class="main">
	  <div class="menu">
<!--		<div class="stick"></div> --> 
		<div class="img"> 
			<img class="headerImg" src="../../images/SplashScreen620x300px201_crop.png" 	alt="A Lawyer's Devotional" title="A daily devotional for the legal professional"> 
		</div>
	   
	   <table class="menu"><tr class="td2">
			<!--			<td class="td1">&nbsp; &equiv; </td>
			-->	
			<td class="td2"><a href="../../index.html"><img class="navImg" src="../../images/LDlogoBW.png" alt="Home page"/><br />Home</a>&nbsp;</td>
			<td class="td2"><a href="../calendar.html"><img class="navImg" src="../../images/collection.png"  width="50px" height="10px" alt="Scripture Collection"/><br /> Calendar</a>&nbsp;</td>
			<td class="td2"><a href="../resources.html"><img class="navImg" src="../../images/wmrResources4_32x32.png"  width="50px" height="10px" alt="Miscellaneous Resources"/><br /> Extras</a>&nbsp;</td>
			<td class="td2"><a href="../about.html"><img class="navImg" src="../../images/wmrAbout3.png" alt="About page"/><br />About</a>&nbsp;</td>
			<!--			<td id="spacer">&nbsp;    </td>
			--><!--		   <td id="button" class="buttons" title="Change color of screen">Screen color: 
						   <br />
						<button class="bgColor1 stick" type="button" onclick="bgColor1()"><a href="#btn1" ></a>!&nbsp;</button>
							<br />
						<button class="bgColor2" type="button">
						<a href="#bgColor2" onclick="bgColor2()"></a>Bl!</button>
							<br />
						<button class="bgColor3" type="button">
						<a href="#bgColor3" onclick="bgColor3()"></a>Gr!
						</button></td>
			-->	   	<!--		<td>&nbsp;    </td>-->
			<!--		   <td class="share">SHARE: <br />
					   <a href="http://facebook.com"><img class="navImg" src="images/[000153].png" title="Facebook page"/> &nbsp; </a>
					   <a href="http://twitter.com"><img class="navImg" src="images/[000098].png" alt="About page"/> &nbsp;  email</td>
						</td>-->
			</tr>
		</table>
	  </div>
	  </div>
	  </body>
</html>