/*  TO DO LIST 
*	need to fix buttons
*	create Constitution page & get all pages looking like main page
*	run another app package test
*	apple dev license	DONE
*	try out the cool menu that moves to arrow ... code is under text file name
*	" cssTest_workingCode_junkComments "  inside the GV shared folder for apps

*/


html, body, div.main {
	background-color: #45617d;	   /*  #788897 */
	width: 100%;
	margin: 0%;
	padding: 0%;
	border: 0%;
	color: #ffffff;
	font-size: medium;
	line-height: 1.5em;
}

/* app meat links to date & scripture*/


/*  Menu & change Buttons  */

#menu {
	
	width: 100%;
	/*height: 1%;*/
	position: fixed;
	margin: 0px;
	padding: 0px;
	/*background-color: green;*/

}

/*  A Lawyer's Dev text image  */
img.headerImg{
/*	display: block;
	background: url(images/SplashScreen620x300px201_crop.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	max-height: 30%;*/
	width: 100%;
	/*position: fixed;*/
	margin-top: 0%;				/* this moves very top image down & linked */  
	padding: 0px ;					/*  somehow to container */
	vertical-align: top;
}

/* end Header Image section */
.menu {
	/*position: fixed;*/
	width: 100%;
	margin: 0% ;
	padding: 0% ;
	color: white;
	background-color: #1E3B56;      /*  #45617d  */
	/*border: ridge; 
	border-color: #45617d;*/	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: x-small;
/*	align-items: stretch;
*/	
	border-bottom-right-radius: 20%; 
	border-top-left-radius: 5%;
}

.navImg {

	width: 25px;
	height: 25px;
	align-items: center;
	position: fixed;
	margin: 0px 4px 0px 0px;
	padding: 2px 2px 0px 0px;
}

table {
	font-size: small;	
	/*background-color: royalblue;*/
	column-span: all;
	width: 100%;
	height: 10%;
	margin-top: 20px;
	padding: 2px;
	border: thick;
	background-color: transparent;
}

th{
	padding: 9% 0% 0% 0%;
	font-weight: 700;
	font-size: xx-large;
	color: #0D2032;			/*  #0D2032  dark blue */
}

tr {
	border: thin;
/*	background-color: aqua;*/
}

tr.td2 {
	border: none;
	}
td {
	border: none;
	alignment-baseline: bottom;
/*	width: 4px;
*/
/*	column-width: inherit;
*/}

/*td.td1 {
	align-items: center;
	width: 10%;
	background-color: #264d73; 
	font-size: xx-large;
	color: red;
}
*/
td.td2 {
	align-items: center;
	vertical-align: middle;
	width: 8%;
	padding: 2% 0% 0% 4%;

}

/* LINK SECTION COLOR CHANGE */
a:link {
	color: white;
}
a:visited{
	color: darkturquoise;
}
a:hover{
	color: #94879E;
}

/*  END OF HEADER MENU section */
/*#spacer {
	width: 15%;
	background-color: aqua;
}
*/
/*#buttons.buttons {
	position: relative;
	top: -3px;
	right: 30px;
	border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
	margin-top: 0px;
	background-color: rebeccapurple;
}
.bgColor1 {
    background-color: #94A1AD;

}
.bgColor2 {
    background-color: #45617d;
}
.bgColor3 {
    background-color: #242629;	  
	}*/

/*td.share {
	border-image-slice: url(images/[000153].png);	
	
}  */

/*  end --Menu & color rounds  */

/*  END OF OLD MENU BUTTON sections */


/*  The job section */

/* #today same as div.container section and same as div.main*/
.container { 
	margin: 0% 2% 0% 2%;
	padding: 0% 1% 0% 1% ;
	text-align: justify;
	border: ridge; 
	border-color: transparent;		/* #45617d */
	
}


/*   #CurrentDate & h1.date both yield SAME results  */

#CurrentDate {
	font-weight: 900;
	/*	color: blueviolet;*/  
	}


h1.date {
	font-size: 250%;
	padding-top: 20%;
/*	color: aqua;*/
	margin-top: 30%;
}

h1, h2 {
	padding-left: 5%;
	margin-top: 7%;
	margin-left: 2%;
}

h2 {
	font-size: 125%;
	text-align: left
}

p {
	padding-left: 7%;
	padding-right: 7%;
	font-size: 125%;
}

p.paraTop{
	padding-top: 70px;
	padding-bottom: 0%;
}

p.quote , p.quote2 {
	font-size: 130%;
/*	font-weight: 700;  */
	}


p.refT , p.refT2  {
	padding-right: 10%;
	font-size: 125%;
	font-style: italic;
	text-align: right;
}

p.refT2 {

	color: aqua;
}

/* end the job section */


#footer, footer.footer {
	/*display: block;*/
	font-size: xx-small;
	text-align: center;
	vertical-align: text-bottom;
	background-color: #1E3B56;	          /*#1E3B56*/
	font-style: italic;
	margin: 0px;
	padding: 2%;
	height: 3em;
	position: fixed;		/* need both position:fixed & bottom to push footer */
	bottom: 0;				/* to the bottom of the page */
	width: 96%;				/* need width too, but 100% on DW makes a horizontal scroll */
	
}


/*  ABOUT section */
table.about {
	padding: 0%,2%,0%,2% ;

}

#about {
	color: white; 
	text-align: left;
	font-size: medium;
	vertical-align: top;
	margin: 15% 0% 0% 0%;
	padding: 15% 0% 0% 0%;

}

td.imgTable {
	vertical-align: text-top;
	margin: 0%;
	padding: 3% 0% 0% 0%;
	background-color: transparent;
}

a.aboutLink {
	font-stretch: expanded;
	font-weight: 900;
	font-size: large;
	color: #BECEDC;				/*  #1E3B56  */
	/*background-color: brown;*/
}


form.feedback {
	margin: 0% 0% 0% -5%;
	/*color: aqua;*/
	}
label {
	/*color: red;*/
	font-size: medium;
}

/*  END OF ABOUT section */


/*  unnecessary additons */

/*.ui-datepicker-year{
    display:none;
}*/

#dailyquote {
	color: bisque;
	font-size: small;
	
}



table.share {
	
	bottom: 3em;
	position: fixed;  	/* needs to be "position: fixed" to move to bottom */
	border-bottom-right-radius: 30%; 
	border-top-left-radius: 50%;
	text-align: right;
	background-color: #788897;
	vertical-align: bottom;
}




.feed{
	font-size: medium;
}
#constitution {
	font-size: small;
	font-weight: normal;
	background-color: #032545;
	padding: 0% 0px 0% 0%;
	margin: 0px 0px 0px 0px;

}

.highlight {
	font-weight: bold;
	color: hotpink;	

}


/* ////////////   */



.pick-date>h1,
.pick-date>input {
  display: inline-block;
}
.pick-date>input[type="date"]
 {
	align-content: space-around;
	color: aqua;
/*	padding: 0% 0% 0% 20%;
	margin: 0% 0% 0% 20%;*/

    width: 100%;
    padding: 112px 20px;
    margin: 18px 0;

    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

.pick-date>h2,h3 {
	padding: 0% 0% 0% 7%;
	margin: 0% 0% 0% 0%;
}

.pick-date>refT,refT2 {
	text-align: right;
}

/* end unnecessary additions */