<?xml version="1.0" encoding="utf-8"?>
<widget 
	id="com.lawyersdevotional.iphoneapp" 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" 
	versionCode = "2"
	version = "1.1.2">
<name>Lawyers Devotional: new build</name>
<description>test app : A Lawyer's Devotional -- Daily Scripture for the Legal Professional </description>
	<author href="http://www.lawyersdevotional.com/"	email="4saleitems@outlook.com" >
   		Kimberly H.
   	</author>
    <author email="cphyffer.123@gmail.com" href="http://pixoul.io">
        Chris Phyffer
    </author>
    
    
<!-- PREFERENCES -->    

<preference name="phonegap-version" value="cli-6.5.0"  />

<!--
<feature name="http://api.phonegap.com/1.0/notification" />
<preference name="permissions" value="none"  />

<preference name="orientation" value="default"  />
<preference name="target-device" value="universal"  />
<preference name="fullscreen" value="true"  />
-->
<preference name="webviewbounce" value="false"  />  <!-- it set initially to "TRUE"
									S. Northcott said set to "FALSE" // an iOS preference -->

	<!-- lynda -->
<!--<preference name="DisallowOverscroll" value="false" />
<preference name="disallowOverscroll" value="false" />
<preference name="deployment-target" value="7.0" />
-->
<preference name="StatusBarOverlaysWebView" value="false" /> <!-- S. Northcott // an iOS preference // 
											if not set to "FALSE", statusbar will continue to display-->
<preference name="StatusBarStyle" value="default" />	<!-- S. Northcott // an iOS preference -->

<!-- end lynda -->
<!--<preference name="prerendered-icon" value="true"  />
<preference name="stay-in-webview" value="false"  />
<preference name="ios-statusbarstyle" value="black-opaque"  />
<preference name="detect-data-types" value="true"  />
<preference name="exit-on-suspend" value="false"  />
<preference name="show-splash-screen-spinner" value="true"  />
<preference name="auto-hide-splash-screen" value="true"  />
<preference name="disable-cursor" value="false"  />
<preference name="android-minSdkVersion" value="21"  />
<preference name="android-installLocation" value="auto"  />-->
<preference name="SplashScreen" value="screen" />
"<preference name="AndroidPersistentFileLocation" value="Compatibility" />"


<!--  PLUGINS 	-->
<!--  resource: https://github.com/phonegap/phonegap-start/blob/master/www/config.xml -->
<!--<gap:plugin name="org.apache.cordova.battery-status" />
<gap:plugin name="org.apache.cordova.console" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.device-orientation" />-->
<gap:plugin name="org.apache.cordova.splashscreen" />



<!--  // from CP files ///   -->
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" source="npm"/>	 <!-- S Northcoftt lesson 
   																the add on info source npm from  -->
    <gap:plugin name="cordova-plugin-statusbar" source="npm"/>   <!-- for cordova status bar
    																	S Northcoftt lesson -->
    
<!--  Whitelists  -->
    <access origin="*" />
    <access origin="" browserOnly="true" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <allow-intent href="http://www.lawyersdevotional.com/" />
    <allow-intent href="http://www.timberlawyer.com/" />
    <allow-intent href="https://www.archives.gov/founding-docs/*" />
    <allow-intent href="http://www.loc.gov/rss/pao/news.xml" />
    <allow-intent href="http://feed.surfing-waves.com/js/rss-feed.js" />    
    <allow-intent href="http://kimberlytopia.com/test_pages_html/demo/LDproject/contactus.php" />            
    <allow-intent href="geo:*" />   
	<!-- 
        <allow-intent href="tel:*" />
        <allow-intent href="sms:*" />
	-->

    <allow-intent href="mailto:*" />

 
     
<!-- ICONS & SPLASH SCREENS -->      
  	
  	<icon src="icons/Icon-small@2x.png" />		<!-- default icon for when don't know what icon to use -->
  	<gap:splash src="splashScrns/mdpi.png" />	<!-- default splash screen -->

   <!-- ANDROID -->
    <platform name="android">
        <allow-intent href="market:*" />
        
      	<icon src="icons/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
      	<icon src="icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
      	<icon src="icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
      	<icon src="icons/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
      	<icon src="icons/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
      	
		<gap:splash src="splashScrns/ldpi.png" gap:qualifier="ldpi" />
     	<gap:splash src="splashScrns/mdpi.png" gap:qualifier="mdpi" />
     	<gap:splash src="splashScrns/hdpi.png" gap:qualifier="hdpi" />
     	<gap:splash src="splashScrns/xhdpi.png" gap:qualifier="xhdpi" />
     	<gap:splash src="splashScrns/xxhdpi.png" gap:qualifier="xxhdpi" />
      	
    </platform>
 
	<!-- iOS -->
   

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
   
    	<!-- iPhone iPhone / iPod Touch -->  
    	<icon src="../images/icons/Icon-60.png" gap:platform="ios" width="60" height="60" />
   		<icon src="icons/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
   		
   		<gap:splash src="splashScrns/Default.png" gap:platform="ios" width="320" height="480" />
   		<gap:splash src="splashScrns/Default@2x.png" gap:platform="ios" width="640" height="960" />
   		
   		<!-- iPhone 5 / iPod Touch (5th Generation) -->
   		<gap:splash src="splashScrns/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
   		
   		
   		<!-- iPhone 6 / 6+ -->
   		
   		<icon src="icons/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />
   		
   		<!-- iPhone 6 -->
   		<gap:splash src="splashScrns/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
   		<gap:splash src="splashScrns/Default-Portrait-736@2x.png" gap:platform="ios" width="1242" height="2208" />

   		
    	<!-- iPad -->
   		<icon src="icons/Icon-76.png" gap:platform="ios" width="76" height="76" />    	
   		<icon src="icons/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
   	    
   	    <gap:splash src="splashScrns/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
   	    <gap:splash src="splashScrns/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />    	
    	    	
		<!-- Settings Icon -->    	    	
   		<icon src="icons/Icon-small.png" gap:platform="ios" width="29" height="29" /> 
   		<icon src="icons/Icon-small@2x.png" gap:platform="ios" width="58" height="58" />    				
		

        <!-- Spotlight Icon -->
   		<icon src="icons/Icon-Small-40.png" gap:platform="ios" width="40" height="40" />
   		<icon src="icons/Icon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />  
   
		<!-- additional recommended iPhone only application icons per Apple Tables 1 & 2-->
		 <icon src="icons/Icon-Small@3x.png" gap:platform="ios" width="87" height="87" />    
<!--  		 <icon src="icons/iTunesArtwork.png" gap:platform="ios" width="512" height="512" />    
  		 <icon src="icons/iTunesArtwork@2x.png" gap:platform="ios" width="1024" height="1024" /> -->   
  		 <icon src="icons/83.5@2x.png" gap:platform="ios" width="167" height="167" />    
  		 <icon src="icons/Icon-Small-40@3x.png" gap:platform="ios" width="120" height="120" />  
  		 <icon src="icons/Icon.png" gap:platform="ios" width="57" height="57" />  
  		 <icon src="icons/Icon@2x.png" gap:platform="ios" width="114" height="114" />  
  		 <icon src="icons/Icon-72.png" gap:platform="ios" width="72" height="72" />  
  		 <icon src="icons/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />  
  		 <icon src="icons/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />  
  		 <icon src="icons/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />  

   
   
<!--  from Lynda https://www.lynda.com/PhoneGap-tutorials/Learn-PhoneGap-Build-Basics/473880-2.html -->
<!--		<splash src="res/screen/ios/Default~iphone.png" width="320" height"480" />
		<splash src="res/screen/ios/Default@2x~iphone.png" width="640" height"960" />
		<splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height"1024" />
		<splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height"2008" />
		<splash src="res/screen/ios/Default-736h.png" width="2208" height"1242" />
		<splash src="res/screen/ios/Default-667h.png" width="750" height"1334" />
		<splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height"1136" />  -->
<!--  END from Lynda -->                  
    </platform>
	
	<icon src="icons/webos/icon-64.png"          gap:platform="webos" />   <!-- need to create this -->
	
<!--  from Lynda https://www.lynda.com/PhoneGap-tutorials/Learn-PhoneGap-Build-Basics/473880-2.html 
   		suggests.  Also suggested @ http://docs.phonegap.com/phonegap-build/configuring/#example
   		    <platform name="winphone" />  
   		     I went a different way ...??? 
   		     https://github.com/phonegap/phonegap-start/blob/master/www/config.xml  -->
    <platform name="winphone" >
	  	<icon src="/icons/icon-48.png"  gap:platform="winphone" />
		<icon src="icons/icon-173.png" gap:platform="winphone" gap:role="background" />
		<icon src="/icons/ms-icon-144x144.png"  gap:platform="winphone" />
		<icon src="/icons/ms-icon-150x150.png"  gap:platform="winphone" />
		<icon src="/icons/ms-icon-310x310.png"  gap:platform="winphone" />
		<icon src="/icons/ms-icon-70x70.png"  gap:platform="winphone" />
    </platform>
     

</widget>
