<h1>Legal RSS Feed</h1>

<div><p> http://www.loc.gov/rss/pao/news.xml</p></div>


  <!--  unnecessary additions -->
	<div id="constitution" class="container">
	  <p>United States <span class="highlight"><em>Charters of Freedom</em></span>:<br>
	    <a href="https://www.archives.gov/founding-docs/declaration-transcript">The Declaration of Independence</a><br>
	    <a href="https://www.archives.gov/founding-docs/constitution-transcript">The Constitution of the United States</a><br>
	    <a href="https://www.archives.gov/founding-docs/bill-of-rights-transcript">Bill of Rights</a></p>
	</div> 