<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About "A Lawyer's Devotional"</title>
    <meta name="About page for A Lawyer's Devotional" content="Daily scriptures and other content created with the lawyer in mind.">
    <meta name="viewport" content="width=device-width">
    
   <meta name="Content-Security-Policy" content="default-src 'self' 
   		 http://www.lawyersdevotional.com/  
   		 http://www.timberlawyer.com/ 
   		 http://www.outlook.com 
   		 http://www.kimberlytopia.com
   		 https://pixoul.io/
   		 https://stackoverflow.com/
   		 https://www.devu.com/
   		 http://orpheussoundstation.com/
   		 http://www.apache.org/
   		 https://opensource.org/licenses/MIT
   		 https://creativecommons.org/licenses/by-sa/3.0/
   		 https://phonegap.com/about/license/
   		 https://docs.npmjs.com/policies/license
   		 https://spdx.org/licenses/Apache-2.0.html
   		 https://github.com/
   		 http://goodinterfacebadinterface.tumblr.com/
   
         data: gap: https://ssl.gstatic.com ; 
         
         script-src 'self' https://www.google.com/jsapi http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js  
         
         https://apis.google.com
         https://platform.twitter.com ;
         
         child-src 'self' https://plusone.google.com https://facebook.com https://platform.twitter.com ;
         
         img-src 'self'; frame-src 'none'; object-src 'none'; 
         style-src 'self' index.css main.css bootstrap.css; "  >
         

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="icon" href="../favicon.ico" type="image/x-icon">  
     <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
<!--    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />-->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../index.css">    
 	

 <!-- endbuild -->	  
 
 <!--https://www.npmjs.com/package/cordova-plugin-x-socialsharing 
 <script type="text/javascript" src="cordova.js"></script>
  --> 
      
     </head>
  <body ng-app="kimberlyApp"  link="#2F4B8C">
  
<div class="main">
		<div class="menu">
			<div class="img">  
				<img class="headerImg" src="../images/SplashScreen620x300p-crop.png" 	alt="A Lawyer's Devotional" title="A daily devotional for the legal professional">
			</div>
			<table class="table"><tr class="td2">
				<td class="td2"><a href="../index.html"><img class="navImg" src="../images/LDlogoBW.png" alt="Home page"/><br />Home</a>&nbsp;</td>
				<td class="td2"><a href="../views/calendar.html"><img class="navImg" src="../images/collection.png"  width="50px" height="10px" alt="Scripture Collection"/><br /> Calendar</a>&nbsp;</td>
				<td class="td2"><a href="../views/resources.html"><img class="navImg" src="../images/wmrResources4_32x32.png"  width="50px" height="10px" alt="Miscellaneous Resources"/><br /> Extras</a>&nbsp;</td>
				<td class="td2"><a href="../views/about.html"><img class="navImg" src="../images/wmrAbout3.png" alt="About page"/><br />About</a>&nbsp;</td>
			</tr>
			</table>
	  	</div>

	<div class="container" id="topAbout"> 
	<h1 class="about" >About</h1> 
	  
	  <!-- https://pixelflips.com/blog/anchor-links-with-a-fixed-header  -->
	  <div class="header" style="position: fixed; top: 0;"></div>
	  
	  <table>
	  
		<ul>
			<td><li><a href="#section1">Book</a></li></td>
			<td><li><a href="#section2">Editor</a></li></td>
			<td><li><a href="#section3">Feedback</a></li></td>
			<td><li><a href="#section4">Credits</a></li>	</td>		
		</ul> 
		
		</table>
<!--	  
	  <ul>
	  	<li><a href="#about">Book</a></li>
	  	<li><a href="#editor">Editor</a></li>
	  	<li><a href="#contact">Feedback</a></li>
	  </ul>
	   -->

<span class="anchor" id="section1"></span><div class="section"></div>	   	   
	  <table id="about">
			<th id="book" class="thead">Book</th>
				<tr><td class="imgTable"><img src="../images/LDhc-4.png" alt="A Lawyer's Devotional spine image" height="75" align="left" style="margin-right:20px" > This one-of-a-kind 96-page scripture compilation makes&nbsp;a&nbsp;great&nbsp;gift for the&nbsp;Christian lawyer, judge or law student, with specially selected verses for every day of the year to meditate upon law, justice, equity, mercy, compassion, judgment, prudence, wisdom, perseverance, and salvation as reflected in the Holy Bible. Available in sleek leather hard cover or cloth&nbsp;bound. Just as in the app, the devotional offers a new verse each day for meditation. All scripture quotations are from the English Standard Version (ESV) of the Bible.
				<i>A Lawyer's Devotional: Daily Scripture for the Legal Professional -- </i><a class="aboutLink" href="http://www.lawyersdevotional.com/" target="_blank">Buy it here.</a></td></tr>
				<tr>
					<td>
						<p style="font-size:medium" align="right"><a href="#topAbout"><br>
						Back to top
						</a></p>
					</td>					
				</tr>
				<tr>
					<td><hr></td>
				</tr>
		</table>

<span class="anchor" id="section2"></span><div class="section"></div>	
		<table>
				
			<th id="editor" class="thead">Editor</th>
		<tr><td class="imgTable">

			Wm. Marc Reese, Attorney at Law. For more information, <a class="aboutLink" href="http://www.timberlawyer.com/" target="_blank">click here.</a> </td></tr>
		<tr><td><hr></td></tr>
		</table>
		
<span class="anchor" id="section3"></span><div class="section"></div>
		<table>  		  
			<th id="contact" class="thead">Feedback</th>
			<tr><td>If you experience any issues with this app, please <a class="aboutLink" href="mailto:feedback.LawyersDevotional@outlook.com?Subject=Feedback%20for%20Lawyer's%20Devotional%20Phone%20App" target="_top">click link</a> to email us.</td></tr>
		  	<tr><td>

			  
			</td></tr>
				<tr>
					<td>
						<p style="font-size:medium" align="right"><a href="#topAbout"><br>
						Back to top
						</a></p>
					</td>					
				</tr>
				<tr>
					<td><hr></td>
				</tr>					

		</table>
		
		
<span class="anchor" id="section4"></span><div class="section"></div>	
<table>
<th id="credits" class="thead">	Credits  </th>

<tr>
	<td>
		This application uses Open Source Code under the <a href="http://www.apache.org/licenses/">Apache</a>, <a href="https://opensource.org/licenses/MIT">MIT</a>, and <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons</a> Licenses, using <a href="https://phonegap.com/about/license/">PhoneGap Build</a> and <a href="https://docs.npmjs.com/policies/license">NPM plugins</a> as licensed under <a href="https://spdx.org/licenses/Apache-2.0.html">Apache-2.0 &amp; Open Source</a>. Many thanks to the developers of <a href="https://github.com/moment/moment/blob/develop/LICENSE">Moment.js</a>, an invaluable tool for this project.
		
		Developed by <a href="http://www.kimberlytopia.com">Kimberly Hanley</a> on behalf of Sylvan Resources LLC. Many, many thanks to <a href="https://pixoul.io/artist/chrisartguy">Chris Phyffer</a> who offered incredible insight, direct CODE support, moral support, and encouragement.
		
		Thanks to <a href="https://meta.stackexchange.com/questions/271080/the-mit-license-clarity-on-using-code-on-stack-overflow-and-stack-exchange">Stack Overflow</a> members <a href="https://stackoverflow.com/users/5372008/teocci">Teocci</a> &amp; <a href="https://stackoverflow.com/users/2487517/tibrogargan">Tibrogargan</a> for helping to troubleshoot, resolve, and tweak Code. Special thanks to <a href="http://orpheussoundstation.com">Orpheus Hanley</a> for moral support and invaluable coding insights. 
		
		<i>Support Resources include </i>Yeoman, <a href="https://www.devu.com/">Bob Tabor</a>, <a href="http://goodinterfacebadinterface.tumblr.com/">Anthony Alicea</a> and the programming community forums at large.
		
	</td>
</tr>

	<tr>
		<td>
			<p style="font-size:medium" align="right"><a href="#topAbout"><br>
			Back to top
			</a></p>
		</td>					
	</tr>
	<tr>
		<td><hr></td>
	</tr>					
<th>&nbsp;</th><tr><td>&nbsp;</td></tr>	
</table>
																		
	</div>
	
</div>
		

	<div><footer id="footer">
	  <p>Published by Sylvan Resources</p>
	</footer>
	</div>

<!--<script language="javascript" src="../scripts/controllers/about.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
</body>
</html>