<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About "A Lawyer's Devotional"</title>
    <meta name="About page for A Lawyer's Devotional" content="Daily scriptures and other content created with the lawyer in mind.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../index.css">    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    
 <!-- endbuild -->
  </head>
  <body ng-app="kimberlyApp"  link="#2F4B8C">
  
<div class="main">
	<div class="img">  
	  <img class="headerImg" src="../images/SplashScreen620x300p-crop.png" 	alt="A Lawyer's Devotional" title="A daily devotional for the legal professional">
		<div id="menu">
			<table class="menu"><tr class="td2">
				<td class="td2"><a href="../app/index.html"><img class="navImg" src="../images/LDlogoBW.png" alt="Home page"/><br />Home</a>&nbsp;</td>
				<td class="td2"><a href="views/calendar.html"><img class="navImg" src="../images/collection.png"  width="50px" height="10px" alt="Scripture Collection"/><br /> Calendar</a>&nbsp;</td>
				<td class="td2"><a href="views/resources.html"><img class="navImg" src="../images/wmrResources4_32x32.png"  width="50px" height="10px" alt="Miscellaneous Resources"/><br /> Extras</a>&nbsp;</td>
				<td class="td2"><a href="views/about.html"><img class="navImg" src="../images/wmrAbout3.png" alt="About page"/><br />About</a>&nbsp;</td>
			</tr>
			</table>
		</div>
  	</div>

	<div class="container">   

	  <h1> About</h1>

	<table id="about">
		<tr><td class="imgTable"><img src="../images/LDhc-4.png" alt="A Lawyer's Devotional spine image" height="75" align="left" style="margin-right:20px" > </td>
		<td>This one-of-a-kind 96-page scripture compilation makes&nbsp;a&nbsp;great&nbsp;gift for the&nbsp;Christian lawyer, judge or law student, with specially selected verses for every day of the year to meditate upon law, justice, equity, mercy, compassion, judgment, prudence, wisdom, perseverance, and salvation as reflected in the Holy Bible.</td></tr>
		<tr><td></td><td>Available in sleek leather hard cover or cloth&nbsp;bound.</td></tr>
		<tr><td></td>
		  <td>Just as in the app, the devotional offers a new verse each day for meditation. All scripture quotations are from the English Standard Version (ESV) of the Bible.
		<a class="aboutLink" href="http://www.lawyersdevotional.com/" target="_blank">Buy <i>A Lawyer's Devotional: Daily Scripture for the Legal Professional</i> here.</a></td></tr>

		<tr><td class="imgTable"><img src="../images/marc_reese_190x242.jpg" alt="Wm. Marc Reese" height="75" align="left" style="margin-right:20px"></td><td>Wm. Marc Reese, Attorney at Law. <a class="aboutLink" href="http://www.timberlawyer.com/" target="_blank">Visit the Timber Lawyer's link</a> for more information.</td></tr>
	</table>

	 </div>

</div>
	
<div><footer id="footer"><p>Published by Sylvan</p></footer></div>

</body>
</html>